---
import Layout from '../layouts/Layout.astro';
import {
  Button
} from "@/components/ui/button"
---

<Layout>
	Willkommen bei Georgs Catering! Hier findest du leckeres Essen für jeden Anlass.

	<Button>With a Button</Button>
</Layout>
